---
layout: base
page_type: 'charactersheet'
custom_js: '/dnd/A&F/charactersheet.js'
---
<body>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="/dnd/A&F/markdown-processor.js"></script>
    <script src="/dnd/A&F/data-loader.js"></script>
    <div class="cs hidden">
        <div class="cs-header">
            <div class="cs-character-info">
                <div class="cs-character-name">Character Name</div>
                <div class="cs-character-quick-info">
                    <div id="cs-character-class" class="cs-character-quick-info-item">Class</div>
                    <div id="cs-character-level" class="cs-character-quick-info-item">Level</div>
                    <div id="cs-character-race" class="cs-character-quick-info-item">Race</div>
                </div>
            </div>
            <div class="cs-rest-options">
                <button class="cs-rest-button" onclick="longRest()">Long Rest</button>
                <button class="cs-rest-button" onclick="shortRest()">Short Rest</button>
            </div>
            <button id="cs-character-loader-button" class="cs-header-button" onclick="window.location.href='/dnd/tools/anfcharacterloader'">Character Loader</button>
        </div>

        <div class="cs-character-traits">
            <div class="cs-traits-column">
                <div id="cs-vitals" class="cs-vitals">
                    <div class="cs-hit-points">
                        <div class="cs-hp-adjust">
                            <button id="cs-hp-heal-button" class="cs-hp-heal-button" onclick="adjustHitPoints(this, 'heal')">Heal</button>
                            <input id="cs-hp-adjust-input" type="number" class="cs-hp-adjust-input" min="0" value="0" onfocus="this.select()">
                            <button id="cs-hp-damage-button" class="cs-hp-damage-button" onclick="adjustHitPoints(this, 'damage')">Damage</button>
                        </div>
                        <div class="cs-hp-display">
                            <div id="cs-hp-current" class="cs-hp">
                                <div class="cs-trait-name">Current</div>
                                <div class="cs-value">10</div>
                            </div>
                            <div class="cs-hp-divider">/</div>
                            <div id="cs-hp-max" class="cs-hp">
                                <div class="cs-trait-name">Max</div>
                                <div class="cs-value">10</div>
                            </div>
                        </div>
                        <div class="cs-temp-hp-adjust">
                            <div class="cs-trait-name">Temp</div>
                            <button id="cs-temp-hp-button" class="cs-temp-hp-button cs-value" onclick="adjustTemporaryHitPoints(this)">--</button>
                            <input id="cs-temp-hp-adjust-input" type="number" class="cs-temp-hp-adjust-input hidden" min="0" value="0" onblur="changeTemporaryHitPoints(this)">
                        </div>
                        <div class="cs-trait-name absolute">Hit Points</div>
                    </div>
                    <div class="cs-stress cs-adjustable-trait">
                        <button id="cs-stress-minus-button" class="cs-adjust-button fa-solid fa-minus" onclick="adjustStressSlots(this)"></button>
                        <div id="cs-stress-slots" class="cs-slots">
                            <div class="cs-slot"></div>
                            <div class="cs-slot"></div>
                        </div>
                        <div id="cs-exhaust-slots" class="cs-slots">
                            <div class="cs-slot exhaust"></div>
                            <div class="cs-slot exhaust"></div>
                            <div class="cs-slot exhaust"></div>
                        </div>
                        <button id="cs-stress-plus-button" class="cs-adjust-button fa-solid fa-plus" onclick="adjustStressSlots(this)"></button>
                        <div class="cs-trait-name absolute">Stress Slots</div>
                    </div>
                </div>
                <div id="cs-core-traits" class="cs-traits-row">
                    <div class="cs-trait">
                        <div class="cs-trait-name">Absorb</div>
                        <div class="cs-value">0</div>
                        <div class="cs-trait-name">Value</div>
                    </div>
                    <div class="cs-trait">
                        <div class="cs-trait-name">Armor</div>
                        <div class="cs-value">10</div>
                        <div class="cs-trait-name">Class</div>
                    </div>
                    <div class="cs-trait">
                        <div class="cs-trait-name">Initiative</div>
                        <div class="cs-value">+0</div>
                    </div>
                </div>
                <div id="cs-saving-throws" class="cs-trait fill" style="padding-bottom: 16px;">
                    <div data-saving-throw="fortitude" class="cs-saving-throw">
                        <div class="cs-saving-throw-modifier">+0</div>
                        <div class="cs-saving-throw-name">Fortitude</div>
                    </div>
                    <div data-saving-throw="reflex" class="cs-saving-throw">
                        <div class="cs-saving-throw-modifier">+0</div>
                        <div class="cs-saving-throw-name">Reflex</div>
                    </div>
                    <div data-saving-throw="will" class="cs-saving-throw">
                        <div class="cs-saving-throw-modifier">+0</div>
                        <div class="cs-saving-throw-name">Will</div>
                    </div>
                    <div class="cs-trait-name absolute">Saving Throws</div>
                </div>
                <div id="cs-defenses" class="cs-trait fill">
                    <div class="cs-trait-list two-column">
                        <div class="cs-trait-list-item">
                            <div class="cs-trait-name">Defenses</div>
                            <div class="cs-description center-align">Resistance - Radiant</div>
                        </div>
                        <div class="cs-trait-list-item">
                            <div class="cs-trait-name">Conditions</div>
                            <div class="cs-description center-align">Prone</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cs-traits-column">
                <div id="cs-abilities" class="cs-traits-row">
                    <div data-ability="strength" class="cs-trait">
                        <div class="cs-trait-name">Strength</div>
                        <div class="cs-value">+0</div>
                    </div>
                    <div data-ability="dexterity" class="cs-trait">
                        <div class="cs-trait-name">Dexterity</div>
                        <div class="cs-value">+0</div>
                    </div>
                    <div data-ability="constitution" class="cs-trait">
                        <div class="cs-trait-name">Constitution</div>
                        <div class="cs-value">+0</div>
                    </div>
                    <div data-ability="intelligence" class="cs-trait">
                        <div class="cs-trait-name">Intelligence</div>
                        <div class="cs-value">+0</div>
                    </div>
                    <div data-ability="wisdom" class="cs-trait">
                        <div class="cs-trait-name">Wisdom</div>
                        <div class="cs-value">+0</div>
                    </div>
                    <div data-ability="charisma" class="cs-trait">
                        <div class="cs-trait-name">Charisma</div>
                        <div class="cs-value">+0</div>
                    </div>
                </div>
                <div id="cs-skills" class="cs-trait fill">
                    <ul id="cs-skills" class="cs-skills">
                        <li data-skill="acrobatics" class="cs-skill">
                            <i class="cs-skill-proficiency fa-regular fa-circle"></i>
                            <div class="cs-skill-ability">DEX</div>
                            <div class="cs-skill-name">Acrobatics</div>
                            <div class="cs-skill-modifier">+0</div>
                            <div class="cs-skill-passive">10</div>
                        </li>
                        <li data-skill="animalHandling" class="cs-skill">
                            <i class="cs-skill-proficiency fa-regular fa-circle"></i>
                            <div class="cs-skill-ability">WIS</div>
                            <div class="cs-skill-name">Animal Handling</div>
                            <div class="cs-skill-modifier">+0</div>
                            <div class="cs-skill-passive">10</div>
                        </li>
                        <li data-skill="arcana" class="cs-skill">
                            <i class="cs-skill-proficiency fa-regular fa-circle"></i>
                            <div class="cs-skill-ability">INT</div>
                            <div class="cs-skill-name">Arcana</div>
                            <div class="cs-skill-modifier">+0</div>
                            <div class="cs-skill-passive">10</div>
                        </li>
                        <li data-skill="athletics" class="cs-skill">
                            <i class="cs-skill-proficiency fa-regular fa-circle"></i>
                            <div class="cs-skill-ability">STR</div>
                            <div class="cs-skill-name">Athletics</div>
                            <div class="cs-skill-modifier">+0</div>
                            <div class="cs-skill-passive">10</div>
                        </li>
                        <li data-skill="deception" class="cs-skill">
                            <i class="cs-skill-proficiency fa-regular fa-circle"></i>
                            <div class="cs-skill-ability">CHA</div>
                            <div class="cs-skill-name">Deception</div>
                            <div class="cs-skill-modifier">+0</div>
                            <div class="cs-skill-passive">10</div>
                        </li>
                        <li data-skill="history" class="cs-skill">
                            <i class="cs-skill-proficiency fa-regular fa-circle"></i>
                            <div class="cs-skill-ability">INT</div>
                            <div class="cs-skill-name">History</div>
                            <div class="cs-skill-modifier">+0</div>
                            <div class="cs-skill-passive">10</div>
                        </li>
                        <li data-skill="insight" class="cs-skill">
                            <i class="cs-skill-proficiency fa-regular fa-circle"></i>
                            <div class="cs-skill-ability">WIS</div>
                            <div class="cs-skill-name">Insight</div>
                            <div class="cs-skill-modifier">+0</div>
                            <div class="cs-skill-passive">10</div>
                        </li>
                        <li data-skill="intimidation" class="cs-skill">
                            <i class="cs-skill-proficiency fa-regular fa-circle"></i>
                            <div class="cs-skill-ability">CHA</div>
                            <div class="cs-skill-name">Intimidation</div>
                            <div class="cs-skill-modifier">+0</div>
                            <div class="cs-skill-passive">10</div>
                        </li>
                        <li data-skill="investigation" class="cs-skill">
                            <i class="cs-skill-proficiency fa-regular fa-circle"></i>
                            <div class="cs-skill-ability">INT</div>
                            <div class="cs-skill-name">Investigation</div>
                            <div class="cs-skill-modifier">+0</div>
                            <div class="cs-skill-passive">10</div>
                        </li>
                        <li data-skill="medicine" class="cs-skill">
                            <i class="cs-skill-proficiency fa-regular fa-circle"></i>
                            <div class="cs-skill-ability">WIS</div>
                            <div class="cs-skill-name">Medicine</div>
                            <div class="cs-skill-modifier">+0</div>
                            <div class="cs-skill-passive">10</div>
                        </li>
                        <li data-skill="nature" class="cs-skill">
                            <i class="cs-skill-proficiency fa-regular fa-circle"></i>
                            <div class="cs-skill-ability">INT</div>
                            <div class="cs-skill-name">Nature</div>
                            <div class="cs-skill-modifier">+0</div>
                            <div class="cs-skill-passive">10</div>
                        </li>
                        <li data-skill="perception" class="cs-skill">
                            <i class="cs-skill-proficiency fa-regular fa-circle"></i>
                            <div class="cs-skill-ability">WIS</div>
                            <div class="cs-skill-name">Perception</div>
                            <div class="cs-skill-modifier">+0</div>
                            <div class="cs-skill-passive">10</div>
                        </li>
                        <li data-skill="performance" class="cs-skill">
                            <i class="cs-skill-proficiency fa-regular fa-circle"></i>
                            <div class="cs-skill-ability">CHA</div>
                            <div class="cs-skill-name">Performance</div>
                            <div class="cs-skill-modifier">+0</div>
                            <div class="cs-skill-passive">10</div>
                        </li>
                        <li data-skill="persuasion" class="cs-skill">
                            <i class="cs-skill-proficiency fa-regular fa-circle"></i>
                            <div class="cs-skill-ability">CHA</div>
                            <div class="cs-skill-name">Persuasion</div>
                            <div class="cs-skill-modifier">+0</div>
                            <div class="cs-skill-passive">10</div>
                        </li>
                        <li data-skill="religion" class="cs-skill">
                            <i class="cs-skill-proficiency fa-regular fa-circle"></i>
                            <div class="cs-skill-ability">INT</div>
                            <div class="cs-skill-name">Religion</div>
                            <div class="cs-skill-modifier">+0</div>
                            <div class="cs-skill-passive">10</div>
                        </li>
                        <li data-skill="sleightOfHand" class="cs-skill">
                            <i class="cs-skill-proficiency fa-regular fa-circle"></i>
                            <div class="cs-skill-ability">DEX</div>
                            <div class="cs-skill-name">Sleight of Hand</div>
                            <div class="cs-skill-modifier">+0</div>
                            <div class="cs-skill-passive">10</div>
                        </li>
                        <li data-skill="stealth" class="cs-skill">
                            <i class="cs-skill-proficiency fa-regular fa-circle"></i>
                            <div class="cs-skill-ability">DEX</div>
                            <div class="cs-skill-name">Stealth</div>
                            <div class="cs-skill-modifier">+0</div>
                            <div class="cs-skill-passive">10</div>
                        </li>
                        <li data-skill="survival" class="cs-skill">
                            <i class="cs-skill-proficiency fa-regular fa-circle"></i>
                            <div class="cs-skill-ability">WIS</div>
                            <div class="cs-skill-name">Survival</div>
                            <div class="cs-skill-modifier">+0</div>
                            <div class="cs-skill-passive">10</div>
                        </li>
                    </ul>
                    <div class="cs-trait-name absolute">Skills</div>
                </div>
            </div>
            <div class="cs-traits-column">
                <div id="cs-initiative-inspiration" class="cs-traits-row">
                    <div class="cs-trait"> 
                        <div class="cs-trait-name">Proficiency</div>
                        <div class="cs-value">+0</div>
                        <div class="cs-trait-name">Bonus</div>
                    </div>
                    <div class="cs-trait cs-inspiration cs-adjustable-trait">
                        <div class="cs-trait-name absolute">Heroic Inspiration</div>
                        <button id="cs-inspiration-minus-button" class="cs-adjust-button fa-solid fa-minus" onclick="adjustHeroicInspiration(this)"></button>
                        <div class="cs-slots">
                            <div class="cs-slot"></div>
                            <div class="cs-slot"></div>
                        </div>
                        <button id="cs-inspiration-plus-button" class="cs-adjust-button fa-solid fa-plus" onclick="adjustHeroicInspiration(this)"></button>
                    </div>
                </div>
                <div id="cs-physical-traits" class="cs-traits-row">
                    <div class="cs-trait fill">
                        <div class="cs-trait-list two-column">
                            <div class="cs-trait-list-item">
                                <div class="cs-trait-name">Senses</div>
                                <div class="cs-description center-align">Darkvision 60 ft.</div>
                            </div>
                            <div class="cs-trait-list-item">
                                <div class="cs-trait-name">Movement</div>
                                <div class="cs-description center-align">Walking 30 ft.</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="cs-proficiencies" class="cs-trait fill">
                    <div class="cs-trait-list">
                        <div class="cs-trait-list-item">
                            <div class="cs-trait-name left-align">Armor</div>
                            <div class="cs-description">Light, medium, and heavy</div>
                        </div>
                        <div class="cs-trait-list-item">
                            <div class="cs-trait-name left-align">Weapons</div>
                            <div class="cs-description">Simple and martial</div>
                        </div>
                        <div class="cs-trait-list-item">
                            <div class="cs-trait-name left-align">Tools</div>
                            <div class="cs-description">Flute</div>
                        </div>
                        <div class="cs-trait-list-item">
                            <div class="cs-trait-name left-align">Languages</div>
                            <div class="cs-description">Common, Elvish</div>
                        </div>
                    </div>
                    <div class="cs-trait-name absolute">Proficiencies</div>
                </div>
            </div>
            
        </div>

        <div class="cs-section-buttons">
            <button id="cs-actions-and-features-button" class="cs-section-button" onclick="showSection('actions-and-features')">Actions and Features</button>
            <button id="cs-inventory-button" class="cs-section-button" onclick="showSection('inventory')">Inventory</button>
            <button id="cs-notes-button" class="cs-section-button" onclick="showSection('notes')">Notes</button>
            <button id="cs-extras-button" class="cs-section-button" onclick="showSection('extras')">Extras</button>
        </div>

        <div class="cs-sections">
            <div id="cs-actions-and-features"class="cs-section active">
                <div id="cs-section-column" class="cs-section-column active">
                    <div id="cs-combat-title" class="cs-section-title">Combat</div>
                    <div id="cs-combat-content" class="cs-column-content">
                        <div id="cs-combat-title" class="cs-column-title">Attacks</div>
                        <div id="cs-combat-attacks" class="cs-action-list">
                            <div class="cs-action">
                                <div class="cs-column-attack-title">Crossbow, Light</div>
                                <div class="cs-column-attack-range">80/320</div>
                                <div class="cs-column-attack-to-hit">+0</div>
                                <div class="cs-column-attack-damage">1d8+0</div>
                                <!-- <div class="cs-column-attack-notes">Simple, Ammunition, Loading, Range, Two-Handed, Slow, Range (80/320)</div> -->
                            </div>
                        </div>
                        <div id="cs-combat-title" class="cs-column-title">Consumables</div>
                        <div id="cs-combat-consumables" class="cs-action-list">
                            <div class="cs-action">
                                <div class="cs-column-consumable-title">Potion of Healing</div>
                                <div class="cs-column-consumable-effect">Healing</div>
                                <div class="cs-column-consumable-effect-amount">2d4 + 2</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="cs-prowesses-spells-column" class="cs-section-column active">
                    <div class="cs-section-title-container">
                        <button data-section="prowesses" id="cs-martial-prowesses-title" class="cs-section-title button active" onclick="showProwesses()">Prowesses</button>
                        <button data-section="spells" id="cs-spells-title" class="cs-section-title button" onclick="showSpells()">Spells</button>
                    </div>
                    <div id="cs-prowesses-content" class="cs-column-content">
                        
                        <div id="cs-prowess-second-wind" class="cs-column-card">
                            <div class="cs-column-card-title">Second Wind</div>
                            <div class="cs-column-card-content">
                                You have a limited well of stamina that you can draw on to protect yourself from harm. On your turn, you can use a Minor Action to regain hit points equal to 1d10 + your fighter level and recover 1 Stress Slot.
                            </div>
                            <div class="cs-card-buttons">
                                <button class="cs-column-card-button" onclick="useProwess('cs-prowess-second-wind')">Use</button>
                            </div>
                        </div>
                        <div id="cs-prowess-test" class="cs-column-card flipped">
                            <div class="cs-column-card-title">Test</div>
                            <div class="cs-column-card-content">
                                This is a test prowess.
                            </div>
                            <div class="cs-card-buttons">
                                <button class="cs-column-card-button" onclick="useProwess('cs-prowess-test')">Use</button>
                            </div>
                        </div>
                    </div>
                    <div id="cs-spells-content" class="cs-column-content hidden">
                    </div>
                </div>
                <div id="cs-features-column" class="cs-section-column active">
                    <div id="cs-features-title" class="cs-section-title">Features</div>
                    <div id="cs-class-features" class="cs-column-content">
                        
                    </div>
                    
                    <div id="cs-race-features" class="cs-column-content">
                        
                    </div>
                    <div id="cs-background-features" class="cs-column-content">
                        
                    </div>
                    <div id="cs-feat-features" class="cs-column-content">
                        
                    </div>
                </div>
            </div>
            <div id="cs-inventory"class="cs-section">
                <div id="cs-section-column" class="cs-section-column active">
                    <div id="cs-inventory-title" class="cs-section-title">Inventory</div>
                    <div id="cs-inventory-currency" class="cs-currency-display">
                        <input type="number" min="0" oninput="validity.valid||(value='');" id="cs-inventory-currency-input" class="cs-inventory-currency-input" placeholder="1">
                        <div id="cs-inventory-currency-copper" class="cs-inventory-currency-item">
                            <button class="cs-adjust-button fa-solid fa-minus" data-currency="copper" data-type="minus" onclick="adjustCurrency(this)"></button>
                            <div class="cs-inventory-currency-item-value">1</div>
                            <div class="cs-inventory-currency-item-label">Copper</div>
                            <button class="cs-adjust-button fa-solid fa-plus" data-currency="copper" data-type="plus" onclick="adjustCurrency(this)"></button>
                        </div>
                        <div id="cs-inventory-currency-silver" class="cs-inventory-currency-item">
                            <button class="cs-adjust-button fa-solid fa-minus" data-currency="silver" data-type="minus" onclick="adjustCurrency(this)"></button>
                            <div class="cs-inventory-currency-item-value">1</div>
                            <div class="cs-inventory-currency-item-label">Silver</div>
                            <button class="cs-adjust-button fa-solid fa-plus" data-currency="silver" data-type="plus" onclick="adjustCurrency(this)"></button>
                        </div>
                        <div id="cs-inventory-currency-gold" class="cs-inventory-currency-item">
                            <button class="cs-adjust-button fa-solid fa-minus" data-currency="gold" data-type="minus" onclick="adjustCurrency(this)"></button>
                            <div class="cs-inventory-currency-item-value">1</div>                            
                            <div class="cs-inventory-currency-item-label">Gold</div>
                            <button class="cs-adjust-button fa-solid fa-plus" data-currency="gold" data-type="plus" onclick="adjustCurrency(this)"></button>
                        </div>
                        <div id="cs-inventory-currency-platinum" class="cs-inventory-currency-item">
                            <button class="cs-adjust-button fa-solid fa-minus" data-currency="platinum" data-type="minus" onclick="adjustCurrency(this)"></button>
                            <div class="cs-inventory-currency-item-value">1</div>
                            <div class="cs-inventory-currency-item-label">Platinum</div>
                            <button class="cs-adjust-button fa-solid fa-plus" data-currency="platinum" data-type="plus" onclick="adjustCurrency(this)"></button>
                        </div>
                    </div>
                    <div id="cs-inventory-content" class="cs-column-content">
                        <div id="cs-inventory-header" class="cs-inventory-header">
                            <div class="cs-inventory-item-equip-button">Active</div>
                            <div class="cs-inventory-summary-info">Name</div>
                            <div class="cs-inventory-summary-info-quantity">QTY</div>
                            <div class="cs-inventory-summary-info-notes">Notes</div>
                        </div>
                        <details class="cs-inventory-item">
                            <summary class="cs-inventory-item-summary">
                                <input type="checkbox" class="cs-inventory-item-equip-button">
                                <div class="cs-inventory-summary-info">
                                    <div class="cs-inventory-summary-info-title">Item Name</div>
                                    <div class="cs-inventory-summary-info-type">Item Type</div>
                                </div>
                                <div class="cs-inventory-summary-info-quantity">1</div>
                                <div class="cs-inventory-summary-info-notes">Item Notes</div>
                            </summary>
                            <div class="cs-inventory-item-content">
                                <div class="cs-inventory-item-content-item">This is a test item.</div>
                                <div class="cs-inventory-item-content-item">This is a test item.</div>
                                <div class="cs-inventory-item-content-item">This is a test item.</div>
                            </div>  
                        </details>
                    </div>
                </div>

            </div>
            <div id="cs-notes"class="cs-section">

            </div>
            <div id="cs-extras"class="cs-section">

            </div>
        </div>
    </div>
</body>
</html>